<!DOCTYPE html>
<html>
  <head>
    <title>ChernoAlpha</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
      /* 设置轮播图片大小 */

      .carousel-inner img {
        width: 100%;
        height: 100%;
      }
    </style>

    <script>
      // 提示框js
      $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });

      // 弹出框js
      $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
      });
    </script>

  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
